$bodyBg: #F3F4FA;
$mainBg: #fff;
$txtColor: #272727;
$mainColor: #04001c;
$highlightColor: rgb(13, 95, 91);
$gray: #acacac;
$purple: #8624DB;
$orange: #FF9066;
$white: #fff;
$black: #000;
$green: #4CAF50;
$red: #DB190C;

$fontFamily: 'Roboto', sans-serif;

$fontSizeExtraSmall: .6rem;
$fontSizeSmall: .8rem;
$fontSizeNormal: 1rem;
$fontSizeMedium: 1.5rem;
$fontSizeLarge: 2rem;
$fontSizeExtraLarge: 3rem;

$navbarHeight: 70px;
$bannerHeight: 60vh;
$sidebarWidth: 250px;

$extraSpacing: 25px;
$spacing: 20px;
$tabletSpacing: 15px;
$mobileSpacing: 6px;
$borderRadius: 30px;
$smallBorderRadius: 10px;

$mobile-width: 520px;
$tablet-width: 650px;
$desktop-width: 800px;