@use '../../scss/abstracts/' as *;
@use 'sass:math';

.dashboardWrapper{

    &__header{
        margin-bottom: unset;
        
        @include tablet{
            justify-content: center;
        }
    }

    &__table{

        &__role{
            padding: math.div($spacing, 2);
            border-radius: 3px;
            @include flex();
        }
    
        &__owner{    
            color: #ff2e2e;
            background: rgb(255 230 230);
        }
    
        &__admin{    
            color: #00bf08;
            background: #dfffe0;
        }
    
        &__user{    
            color: #b38f2d;
            background: #f8f3e4;
        }
        
        &__btns{
            &__btn{
                &:disabled,
                &.disabled{
                    cursor: not-allowed;
                }
            }
        }
    }
}

a[aria-disabled="true"] {
    pointer-events: none;
}