@use '../../scss/abstracts/' as *;
@use 'sass:math';

.newProduct {
    margin-top: $navbarHeight;
    padding: $spacing;
    width: 100%;
}


.wrapper {

    &__form {

        &__container {

            &__input {

                &__productPreview{
                    @include flex(flex-start, stretch);
                    column-gap: $spacing;
                    row-gap: $spacing;
                    flex-wrap: wrap;
                    
                    img{
                        width: 50px;
                        height: 50px;
                        object-fit: cover;
                        border-radius: 3px;
                    }
                }
                
                select{
                    width: 100%;
                    padding: math.div($spacing, 2);
                    padding-left: $extraSpacing * 2;
                    font-size: $fontSizeNormal;
                    outline: none;
                    border: none;
                    border-radius: 3px;

                    @include tablet{
                        font-size: $fontSizeSmall;
                    }
                }

                &__file{
                    padding: 0 !important;
                    margin: 0;

                    &::file-selector-button{
                        width: 100%;
                        cursor: pointer;
                        padding: 10px 0;
                        color: #b5b5c2;
                        border: none;
                        background: $white;
                        border-radius: 3px;
    
                        &:hover{
                            border: none;
                        }
                    }
                }

            }


            &__bottom {
                &__title {
                    @include flex(flex-start, stretch);
                    column-gap: math.div($spacing, 4);
                    &__link {
                        color: $mainColor;
                        font-weight: 500;
                        cursor: pointer;

                        &__icon{
                            @include flex();
                        }
                    }
                }
            }
        }
    }
}


.padding-left{
    padding-left: $extraSpacing * 2 !important;
}