@use '../../scss/abstracts/' as *;

.dashboard{
    margin-top: $navbarHeight;
    padding: $spacing;
    width: 100%;

    &__container{
        @include flex(flex-start, stretch);
        flex-direction: column;
        row-gap: $spacing;
        width: 100%;

        &__row{
            @include flex(flex-start, stretch);
            background-color: $bodyBg;
            flex-wrap: wrap;
            column-gap: $spacing;
            row-gap: $spacing;
            width: 100%;

            @include tablet{
                justify-content: center;
            }

            &__summary{
                width: 250px;
                height: 200px;
                background-color: $white;
                border-radius: 5px;
                -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.05);
                -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.05);
                box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.05);
                @include flex(center, stretch);
            }

            &__charts{
                @include flex(flex-start, stretch);
                background-color: $bodyBg;
                column-gap: $spacing;
                row-gap: $spacing;
                width: 100%;
                flex-wrap: wrap;
                
                @include tablet{
                    flex-direction: column;
                    justify-content: center;
                }

                &__doughnutChartBlock{
                    width: 300px;
                    height: 300px;
                    background-color: $white;
                    border-radius: 5px;
                    @include flex();
                    flex-direction: column;
                    padding: $spacing;
                    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.05);
                    -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.05);
                    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.05);

                    @include tablet{
                        align-self: center;
                        width: 250px;
                        height: 250px;
                    }

                    &__title{
                        margin-bottom: 20px;
                        font-weight: 600;
                        font-size: $fontSizeMedium;
                        align-self: flex-start;
                    }

                    &__doughnutChart{
                        height: 200px;
                        @include flex();

                        @include tablet{
                            &__doughnut{
                                height: 150px !important;
                                width: 150px !important;
                            }
                        }
                       
                    }
                }
    
                &__rechart{
                    width: 500px;
                    height: 300px;
                    background-color: $white;
                    border-radius: 5px;
                    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.05);
                    -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.05);
                    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.05);

                    @include tablet{                        
                        width: 250px;
                        height: 250px;
                        align-self: center;
                    }
                }
            }

            
        }
    }
}