@use '../../scss/abstracts/' as *;
@use 'sass:math';

.wrapper{
    
    &__title{

        &__heading{
            min-width: 400px;
            font-weight: 500;
            margin-bottom: $spacing;

        }
    }

}
